/* cart */
:root {
  --yellow: #e9ff45;
}

.cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100vh;
  z-index: 1;
  transition: transform .5s ease-in-out;
}

.cart-stripe {
  height: inherit;
  width: 18%;
  background: var(--yellow);
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.cart-icon {
  cursor: pointer;
  height: 50px;
}

.cart-icon .cart-length {
  background: red;
  pointer-events: none;
  width: 20px;
  height: 20px;
  font-size: 12px;
  top: -30%;
  right: -70%;
}

.cart-content {
  width: 82%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  padding: 20px;
  overflow-y: scroll;
}

.cart-content::-webkit-scrollbar {
  width: 10px;
}

.cart-content::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

.cart-button {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  background: black;
  color: white;
  border: 2px solid var(--yellow);
  transition: .2s linear all;
  font-size: 20px;
}

.cart-button:hover {
  border: 2px solid black;
  background: var(--yellow);
  color: black;
}

.cart-element {
  position: relative;
  top: 0;
  color: white;
  border: 1px solid white;
  display: flex;
  margin: 20px 0;
}

.cart-element:nth-child(1) {
  margin-top: 0;
}

.cart-element > img {
  width: 90px;
  height: 150px;
  object-fit: cover;
}

.cart-element-details {
  width: 100%;
  padding-top: 10px;
}

.cart-element-details > p {
  text-align: center;
  margin-bottom: 5px;
}

.cart-element-details > p:nth-child(2),
.cart-element-details > p:nth-child(3) {
  font-size: 18px;
  color: #929292;
}

.cart-element-remove {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.cart-element-icon {
  color: red;
}