/* details */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --background: #f0efef;
  --font: 'Lato', sans-serif;
}

.details-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(43, 43, 43, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.details-content {
  background: var(--background);
  width: 70%;
  height: 70%;
  position: relative;
  display: flex;
  font-family: var(--font);
}

.details-photo {
  height: 100%;
  width: 30%;
  object-fit: cover;
}

.details-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.details-info > h2 {
  font-size: 30px;
}

.details-info > p {
  font-size: 22px;
  margin-top: 10px;
}

.details-sizes {
  display: flex;
}

.details-warning {
  color: red;
  margin-bottom: 20px;
}

.details-button {
  font-family: inherit;
  padding: 7px;
  font-size: 18px;
  border-radius: 5px;
}

.details-button:hover {
  background: #dfdfdf;
}

.close-icon {
  position: absolute;
  right: 0%;
  cursor: pointer;
}

.size-icon {
  cursor: pointer;
  margin: 40px 5px;
}

.size-icon:hover {
  filter: brightness(80%);
}

@media only screen and (max-width: 600px) {
  .details-content {
    width: 90%;
    height: 80%;
  }

  .details-info {
    margin-top: 20%;
  }

  .close-icon {
    margin: 10px;
  }
}